@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'assets/styles/settings';
@import 'assets/styles/theme';

:root {
  --primary-color: #FFE81F;
  --secondary-color: #000000;
}

html {
  font-size: $font-size;
  height: 100%;
  width: 100%;
  @media all and (max-height: 1080px) {
    font-size: 14px;
  }
}

body {
  @apply w-full h-full m-0 p-0 bg-secondary text-white font-sans relative overflow-x-hidden;
  font-family: $primary-font;
  cursor: url(https://cur.cursors-4u.net/others/oth-1/oth28.cur), auto !important;
}

.star {
  @apply absolute w-0.5 h-0.5 bg-white pointer-events-none;
  animation: animate 8s ease-in-out infinite;
}

.star-1 {
  animation-delay: 0s;
}

.star-2 {
  animation-delay: -1s;
}

.star-3 {
  animation-delay: -2s;
}

.star-4 {
  animation-delay: -3s;
}

.star-5 {
  animation-delay: -4s;
}

.star-6 {
  animation-delay: -5s;
}

@keyframes animate {
  0%, 20%, 40%, 60%, 80%, 100% {
    opacity: 0;
  }

  10%, 30%, 50%, 70%, 90% {
    opacity: 1;
  }
}

.mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
  color: var(--secondary-color) !important;
  @apply text-shadow;
}

.mat-mdc-tab .mdc-tab-indicator__content--underline {
  border-color: var(--secondary-color) !important;
}

