<div class="flex flex-col justify-center items-center">
  <p class="text-secondary pb-2 text-xl font-bold">{{ label }}</p>
  <div>
    <input type="checkbox" id="bb8_cb" [formControl]="ngControl.control | asFormControl" />
    <label for="bb8_cb">
      <div id="bb8">
        <div id="bb8_head">
          <div id="half_circle">
            <div id="or0"></div>
            <div id="lens1"></div>
            <div id="lens2"></div>
            <div id="or1"></div>
          </div>
          <div id="dg1"></div>
          <div id="lg1"></div>
        </div>
        <div id="bb8_body">
          <div id="lg2"></div>
          <div id="c1">
            <div class="s1"></div>
            <div class="s2"></div>
          </div>
          <div id="c2">
            <div class="s1"></div>
            <div class="s2"></div>
          </div>
          <div id="c3">
            <div class="s1"></div>
            <div class="s2"></div>
          </div>
        </div>
      </div>
    </label>
  </div>
</div>
