* {
  transition: 1s all;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label {
  cursor: url(https://cur.cursors-4u.net/others/oth-1/oth28.cur), auto !important;
  width: 100px;
  height: 50px;
  display: block;
  border-radius: 35px;
  background-color: #70c6ec;
  padding-left: 15px;
  padding-top: 8px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

#bb8_body {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background: rgba(240, 240, 240, 1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(240, 240, 240, 1) 0%, rgba(235, 235, 235, 1) 72%, rgba(191, 191, 191, 1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(240, 240, 240, 1)), color-stop(72%, rgba(235, 235, 235, 1)), color-stop(100%, rgba(191, 191, 191, 1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(240, 240, 240, 1) 0%, rgba(235, 235, 235, 1) 72%, rgba(191, 191, 191, 1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(240, 240, 240, 1) 0%, rgba(235, 235, 235, 1) 72%, rgba(191, 191, 191, 1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(240, 240, 240, 1) 0%, rgba(235, 235, 235, 1) 72%, rgba(191, 191, 191, 1) 100%);
  background: radial-gradient(ellipse at center, rgba(240, 240, 240, 1) 0%, rgba(235, 235, 235, 1) 72%, rgba(191, 191, 191, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#bfbfbf', GradientType=1);
}

#c1,
#c2,
#c3 {
  width: 6px;
  height: 6px;
  border-radius: 100%;
  border: 2px solid #fac562;
  position: relative;
}

.s1 {
  background: #fac562;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fac562 0%, #fac562 24%, #f0f0f0 27%, #f0f0f0 76%, #fac562 79%, #fac562 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fac562 0%, #fac562 24%, #f0f0f0 27%, #f0f0f0 76%, #fac562 79%, #fac562 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fac562 0%, #fac562 24%, #f0f0f0 27%, #f0f0f0 76%, #fac562 79%, #fac562 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fac562', endColorstr='#fac562', GradientType=0);
  /* IE6-9 */
  width: 2px;
  height: 10px;
  position: relative;
  left: 3px;
}

.s2 {
  background: #fac562;
  /* Old browsers */
  background: -moz-linear-gradient(left, #fac562 0%, #fac562 24%, #f0f0f0 27%, #f0f0f0 76%, #fac562 79%, #fac562 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #fac562 0%, #fac562 24%, #f0f0f0 27%, #f0f0f0 76%, #fac562 79%, #fac562 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #fac562 0%, #fac562 24%, #f0f0f0 27%, #f0f0f0 76%, #fac562 79%, #fac562 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fac562', endColorstr='#fac562', GradientType=1);
  /* IE6-9 */
  width: 10px;
  height: 2px;
  position: relative;
  top: -5px;
}

#c1 {
  left: 12px;
  top: 4px;
}

#c2 {
  left: 4px;
  top: 8px;
}

#c3 {
  left: 20px;
  top: 2px;
}

#half_circle {
  height: 15px;
  width: 30px;
  border-radius: 30px 30px 0 0;
  background: #f0f0f0;
}

#lens1 {
  background-color: #262626;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  position: relative;
  left: 11px;
  top: 3px;
}

#lens2 {
  background-color: #262626;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  position: relative;
  left: 20px;
  top: 1px;
}

#or0 {
  background-color: #fac562;
  height: 1px;
  width: 17px;
  border-radius: 1px;
  position: relative;
  top: 2px;
  left: 6px;
}

#or1 {
  background-color: #fac562;
  height: 2px;
  width: 30px;
  border-radius: 1px;
  position: relative;
  top: 1px;
}

#dg1 {
  background-color: #666666;
  height: 4px;
  width: 30px;
}

#lg1 {
  border-top: 3px solid #9f9f9f;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  height: 0;
  width: 20px;
}

#lg2 {
  background-color: #e0e0e0;
  height: 1px;
  width: 30px;
  position: relative;
  top: 23px;
}

#bb8_head {
  margin-left: 4px;
  margin-top: -18px;
}

input[type=checkbox]:checked + label #bb8_body {
  margin-left: calc(100% - 50px);
  transform: rotate(360deg);
}

input[type=checkbox]:checked + label #bb8_head {
  margin-left: calc(100% - 40px);
}

input[type=checkbox]:checked + label ~ section {
  background-color: #3384a8;
}
